/* CSS styling for Header for profile*/
body > header {
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cea500;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  padding-top: 3em;
  margin-bottom: 0em;
}

header div.profile-pict {
  margin-top: 40px;
  margin-bottom: -60px;
  animation-name: animate;
  animation-duration: 3s; 
  animation-iteration-count: infinite;
  position: relative
}

header div .name {
  font-size: 50px;
  color: rgb(255, 255, 255);
}

@keyframes animate {
  0% {color:blue; left: 0px; top: 0px;}
  50% {color:white; left: 0px; top: 10px;}
  100% {color:blue; left: 0px; top: 0px;}
}

/* Creating a responsive design using @keyframes for 1024px and above for min-width*/ 
@media only screen and (min-width:1024px) {
  body {
    display: flex;
    width: 100%;
  }
  
  body > header {
    width: 40%;
    margin: 7em 1em 7em 1em;
    
  } 

  body > main {
    width: 60%;
    padding-left:2em;
    margin: 3em 1em 0em 0em
  }
 }