nav {
  height: 120px;
  width: 100%;
  background: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 1.5em;
  z-index: 1;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 35px
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div p {
  height: 5px
}

.nav-write {
  font-family:'Source Sans Pro', sans-serif;
  font-size: 30px ;
}

.fa-solid {
  color: red
}