.new-tweet {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.new-tweet h2 {
  display: flex;
  align-items: center;
  color: #cea500;
  font-size: 50px;
}
.new-tweet .invalid {
  color: #F4210A;
  border: 3px dashed #494844;
  border-radius: 12px;
  padding: 12px;
  display: none;
}
.new-tweet form {
  width: 100%;
  display: none;
}
.new-tweet form textarea {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid black;
  width: 100%;
  margin-bottom: 20px;
}
.new-tweet form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-tweet form div button {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}
.new-tweet form div button:hover {
  color: #cea500;
}
.new-tweet form div #counter {
  font-family: "Bungee", sans-serif;
}
