section.posted-tweets{
  display: flex;
  flex-direction: column;
  align-items: center
}

article.tweets {
  border: 5px solid #494844;
  margin-top: 40px;
  width: 100%;
  margin-right: 2em
}

article.tweets header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  margin: 10 20px;
}

article.tweets header div {
  display: flex;
  align-items: center;
}

article.tweets header div img {
  height: 130px;
  width: 130px;
  opacity: 0.75
}

article.tweets div.tweet {
  font-size: 35px;
  border-bottom: 6px solid #545149;
  margin: 10px 70px;
}

article.tweets footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 10px 70px;
  width:90%
}

article.tweets header div h2{
  color: grey;
  font-size: 45px;
  margin-left:0.25em
}

article.tweets header p {
  opacity: 0.75;
  color: grey;
  font-size: 35px;
}

article.tweets div p{
  width:100%;
  overflow-wrap: break-word
}

.fa-flag, .fa-retweet, .fa-heart {
 color: #4056A1;
 box-shadow: 2px 2px 2px 1px lightgray;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: rgb(174, 139, 59)
}
